* {
    margin: 0;
    padding: 0;
}

body {
    background: #81108e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.main form {
    display: flex;
    flex-direction: column;
}

.main form input {
    padding: 8px 12px;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    border-radius: 3px;
}

.main form button {
    border: none;
    padding: 8px 30px;
    width: fit-content;
    background: #543343;
    color: #ffffff;
    border-bottom: 3px solid #b421c4;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
}